# Configuración de base de datos Neon / PostgreSQL para ÁGAPE STUDIO
DATABASE_URL="postgresql://neondb_owner:PASSWORD@ep-small-king-b4hnwcsw-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:PASSWORD@ep-small-king-b4hnwcsw.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Número de WhatsApp del estudio para confirmaciones de reservas (Formato internacional numérico, ej: 5493515580382)
NEXT_PUBLIC_WHATSAPP_PHONE_NUMBER="5493515580382"
